.sec-nav {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;

  background: rgba(165, 165, 165, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  z-index: 6;
  position: relative;
}

.sec-nav h2 {
  font-weight: 500;
  font-size: 1.4rem;

  color: #fff;
  opacity: 0.6;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
